@page "/C_Personas"
@inject PersonasBLL personasBll


<EditForm Model="personas">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header text-center">
            <h3>Consulta Personas</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group text-center">

                   <button type="button" class="bi bi-file-earmark-person btn btn-lg btn-primary" @onclick="Buscar"> Generar Tabla Personas</button>

                </div>
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>PersonaID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>FechaNacimiento</th>
                    <th>Balance</th>
                    <th>OcupacionID</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var personas in persona)
                {
                    <tr>
                        <td>@personas.PersonaId</td>
                        <td>@personas.Nombres</td>
                        <td>@personas.Telefono</td>
                        <td>@personas.Celular</td>
                        <td>@personas.Email</td>
                        <td>@personas.Direccion</td>
                        <td>@personas.FechaNacimiento</td>
                        <td>@personas.Balance</td>
                        <td>@personas.OcupacionId</td>
                        <td><a href="persona/@personas.PersonaId">Ver</a></td>
                    
                    </tr>

                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public Persona personas { set; get; } = new Persona();
    public List<Persona> persona { get; set; } = new List<Persona>();
    public List<Prestamo> prestamos { get; set; } = new List<Prestamo>();
    public async Task Buscar()
    {
        persona = await personasBll.GetList(o => true);
    }
}