@page "/C_Personas"
@inject PersonasBLL personasBll


<EditForm Model="personas">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header text-center">
            <h3>Consulta Personas</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group text-center">

                   <button type="button" class="bi bi-file-earmark-person btn btn-lg btn-primary" @onclick="Buscar"> Generar Tabla Personas</button>

                </div>
                <div class="col-md-6">
                        <label>Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="0"></option>
                            <option value="1">PersonaId</option>
                            <option value="2">Nombre</option>
                            <option value="3">OcupacionId</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Buscar</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @bind="Criterio" />
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>PersonaID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>FechaNacimiento</th>
                    <th>Balance</th>
                    <th>OcupacionID</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var personas in persona)
                {
                    <tr>
                        <td>@personas.PersonaId</td>
                        <td>@personas.Nombres</td>
                        <td>@personas.Telefono</td>
                        <td>@personas.Celular</td>
                        <td>@personas.Email</td>
                        <td>@personas.Direccion</td>
                        <td>@personas.FechaNacimiento</td>
                        <td>@personas.Balance</td>
                        <td>@personas.OcupacionId</td>
                        <td><a href="persona/@personas.PersonaId">Ver</a></td>
                    
                    </tr>

                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public Persona personas { set; get; } = new Persona();
    public List<Persona> persona { get; set; } = new List<Persona>();
    public List<Prestamo> prestamos { get; set; } = new List<Prestamo>();
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public async Task Buscar()
    {
        persona = await personasBll.GetList(o => true);
        if(Criterio != null)
        {
            switch (Filtro)
            {
                case "0":
                    persona = await personasBll.GetList(o => true);
                    break;
                case "1":
                    persona = await personasBll.GetList(o => o.PersonaId.ToString() == (Criterio));
                    break;
                case "2":
                    persona = await personasBll.GetList(o => o.Nombres.ToLower().Contains(Criterio.ToLower()));
                    break;
                case "3":
                    persona = await personasBll.GetList(o => o.OcupacionId.ToString() == (Criterio));
                    break;
            }
        }
        else
        {
            persona = await personasBll.GetList(o => true);
        }
    }
    public async Task Generar()
    {
        persona = await personasBll.GetList(o => true);
    }
}
