@page "/C_Prestamos"
@inject PrestamosBLL prestamosBll


<EditForm Model="Datos">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header text-center">
            <h3>Consulta Prestamos</h3>

        </div>

        <div class="card-body">
            <form>
                <div class="form-group text-center">

                   <button type="button" class="bi bi-file-ppt-fill btn btn-lg btn-primary" @onclick="Buscar"> Generar Tabla Prestamos</button>

                </div>
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label>Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="0"></option>
                            <option value="1">PrestamoId</option>
                            <option value="2">PersonaId</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Criterio</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @bind="Criterio" />
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>PrestamoID</th>
                    <th>Fecha</th>
                    <th>Vence</th>
                    <th>PersonaId</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Balance</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prestamos in Datos)
                {
                    <tr>
                        <td>@prestamos.PrestamoId</td>
                        <td>@prestamos.Fecha</td>
                        <td>@prestamos.Vence</td>
                        <td>@prestamos.PersonaId</td>
                        <td>@prestamos.Concepto</td>
                        <td>@prestamos.Monto</td>
                        <td>@prestamos.Balance</td>
                        <td><a href="prestamo/@prestamos.PersonaId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    #nullable disable
    public Prestamo prestamos { set; get; } = new Prestamo();
    public Persona persona { get; set; } = new Persona();
    public List<Prestamo> Datos { get; set; } = new List<Prestamo>();
    public string Filtro { get; set; } 
    public string Criterio { get; set; }
    public async Task Buscar()
    {
        Datos = await prestamosBll.GetList(o => true);
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0":
                    Datos = await prestamosBll.GetList(o => true);
                    break;
                case "1":
                    Datos = await prestamosBll.GetList(o => o.PrestamoId.ToString() == (Criterio));
                    break;
                case "2":
                    Datos = await prestamosBll.GetList(o => o.PersonaId.ToString() == (Criterio));
                    break;
            }
        }
        
        else
        {
            Datos = await prestamosBll.GetList(o => true);
        }
    }

}
